resources:
- name: role-{{ env["name"] }}
  type: gcp-types/iam-v1:projects.roles
  properties:
    parent: projects/{{ env["project"] }}
    roleId: {{ properties["roleId"] }}
    role:
      title: {{ properties["roleTitle"] }}
      description: {{ properties["roleDescription"] }}
      stage: {{ properties["roleStage"] }}
      includedPermissions: {{ properties["roleIncludedPermissions"] }}
- name: serviceaccount-{{ env['name'] }}
  type: iam.v1.serviceAccount
  properties:
    accountId: {{ env['name'] }}
    displayName: {{ env['name'] }}
    projectId: {{ env['project'] }}
- name: iammemberbinding-{{ env['name'] }}
  type: gcp-types/cloudresourcemanager-v1:virtual.projects.iamMemberBinding
  properties:
    resource: {{ env['project'] }}
    role: projects/{{ env['project'] }}/roles/{{ properties["roleId"] }}
    member: serviceAccount:$(ref.serviceaccount-{{ env['name'] }}.email)
  metadata:
    dependsOn:
    - serviceaccount-{{ env['name'] }}
    - role-{{ env['name'] }}
